footer{
	background-color: #dad7cd;
	color: white;
	padding: 30px 0;
}
.container{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 200px;
}
.footer-content{
	display: flex;
	flex-wrap: wrap;
}
.footer-section{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.about{
	text-align: center;
}
.about h2{
	margin-bottom: 20px;
}
.about p{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.contact-links{
	display: flex;
	justify-content: center;
}
.contact-links a{
	display: inline-block;
	color: #a3b18a;
	font-size: 24px;
	margin: 0 10px;
	transition: all 0.3s ease;
}
.contact-links a:hover{
	transform: translateY(-10px);
	color: white;
}
img{
		width:100px;
		height:100px;
	}	
	video{
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		object-fit: cover;
	}
	.titulo{
		font-family: 'Aicho', sans-serif;
		font-size: 50px;
		text-align: center;
		font-weight: 200;
		mix-blend-mode: multiply;
		
	
	}